{% extends 'base.html' %}
{% block content%}
{% load static %}
<div class="container">
        <div class="columns">
            <div class="column is-three-quarters">
                <div class="box forum">
                    <p class="text-content">
                        Sign In Form
                    </p>
                    <div class="media-content">
                        <h1 class="is-active">
                            <form method="POST" id="signin">
                                {% csrf_token %}
                                <div class="form-error">{{ form.non_field_errors }}</div>
                                {% for f in form %}
                                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                                <div class="form-error">{{ f.errors }}</div>
                                </br>
                                {% endfor %}
                                </br>
                                <button type="submit">Login</button>
                                <p>forgot your password? <a href="{% url 'users:password_reset' %}">click here</a></p>
                            </form>
                        </h1>
                        </br>
                        <p class="text-content">
                            You also can login using&nbsp;&nbsp;<a href="{% url 'social:begin' 'github' %}">
                            <img src="/media/social-auth/github.png" width="50" height="50">&nbsp;&nbsp</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}