{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% load static %}
<div class="container">
        <div class="columns">
            <div class="column is-three-quarters">
                <div class="box forum">
                    <p class="text-content">
                        Reset password
                    </p>
                    <div class="media-content">
                        <h1 class="is-active">
                            <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
                            <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}