{% extends 'base.html' %}
{% block content%}
{% load static %}
<div class="container">
        <div class="columns">
            <div class="column is-three-quarters">
                <div class="box forum">
                    <p class="text-content">
                        Password changed successfully!
                    </p>
                    <div class="media-content">
                        <h1 class="is-active">
                            <a href="{% url 'users:login' %}">Login!</a>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}